@import "common.scss";

.accordeons-container{
    width:82.6%;
    margin-top:38px;
    margin-bottom:8px;
    @media (max-width: 769px){
        width: 100%;
      }
}

.accordeon-item-about{
    margin-bottom: 30px;
    .accordeon-item{
        &__title{
          border-radius: 5px;
            &--text{
              font-size: 2.4rem;
              @media (max-width: 769px){
                font-size: 1.3rem;
              }
            
            }
        }
    }
}
