$main-color: #FF6060;
$secondary-color: #F6F6F6;
$third-color: white;

*{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}

html{
  width: 100%;
  overflow-x: hidden;
}
body,h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

a, a:visited, a:hover, a:focus {
  color: $main-color;
  text-decoration: none;
}

.routerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
}

.mainContainer{
  width: 86.11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  @media (max-width: 769px){
      width: 89.6%;
    }
}


 // Header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86.11%;
  margin: auto;
  margin-top: 45px;

  &__logo{
    display: block;
    @media (max-width: 769px){
      display: none;
    } 
  }

  &__logo_mobile{
    display: none;
    @media (max-width: 769px){
      display: block;
    } 
  }
  &__navBar {
    display: flex;
    gap: 57px;
    justify-content: flex-start;
    @media (max-width: 769px){
      gap:26px;
    } 
    @media (max-width: 330px){
      gap:16px;
      margin-left: -20px;
    }
   

    &--li{
      list-style: none;
      white-space: nowrap;
      &:last-child{
        @media (max-width: 330px){
          margin-right: 30px;
        } 
      }
      
    
      &--link {
        list-style: none;
        font-size: 2.4rem;
        color: $main-color;
        @media (max-width: 769px){
          font-size: 1.2rem;
        } 
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 769px){
    width: 89.33%;
  } 
}


//Footer

.footer{
  background-color: black;
  width: 100%;
  height: 209px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 769px){
    width: 100%;
  }

 

  &__content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &--logo{
      max-width: 122px;
      margin-top: 66px;
      margin-bottom: 28.5px;  
    }

    &--copyright{
      color: $third-color;
      font-size: 2.4rem;
      margin-bottom: 29px;
      @media (max-width: 769px){
        max-width: 122px;
        font-size: 1.2rem;
      } 
    }
  }
}


//Collapse 

.accordeon-item{
  &__title{
    display: flex;
    flex-direction: row;
    height: 52px;
    background-color: $main-color;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @media (max-width: 769px){
      height: 30px;
    }

    &--text{
      color: $third-color;
      margin-left: 15px;
    }

    &--arrow{
      margin-right: 20px;
      cursor: pointer;
      transition: transform 0.5s ease;
      display: block;
      @media (max-width: 769px){
        display:none
      }

      &.open{
        transform: rotate(-180deg);
      }
    }

    &--arrow_mobile{
      margin-right: 10px;
      cursor: pointer;
      transition: transform 0.5s ease;
      display: none;
      @media (max-width: 769px){
        display:block;
      }

      &.open{
        transform: rotate(-180deg);
        transform-origin: center;
      }
    }
  }
  
    &__content{
      background-color: $secondary-color;
      border-radius: 0px 0px 10px 10px;
      transform: translateY(-5px);
      overflow: hidden;
     
      
      &--text{
        font-size: 1.8rem;
        font-weight: 400;
        color: $main-color;
        padding: 20px;
        @media (max-width: 769px){
          font-size: 1.1rem;
        }    
      }
    }
  }


//Banner

.bannerContainer{
  width: 100%;
  height:223px;
  background-color: black;
  border-radius: 25px;
  margin-top: 38px;
  position: relative;
  
  &__photo{
      width:100%;
      height:100%;
      object-fit: cover;
      border-radius: 25px;
      opacity:0.7;
      object-position: 50% 51%;
  }

  &__title{
    font-size: 4.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $third-color;
    @media (max-width: 769px){
      font-size: 2.3rem;
      left: 38%;
      text-align: left;      
    } 
  }
}


//Gallery

.slider{
  width:100%;
  min-width: 100%;
  height: 415px;
  @media (max-width: 769px){
    height:255px;    
  } 
 
  &__slide{
    width: 100%;
    height: 415px;
    position: relative;
    display: flex;
    @media (max-width: 769px){
      min-width: 100%;
      height:255px;    
    } 

    &--img{
      min-width: 100%;
      height: 415px;
      object-fit: cover;
      border-radius: 25px;
      @media (max-width: 769px){
        height:255px;    
      } 
    }
    
    &--leftArrow{
      position: absolute;
      left: 23px;
      top: 167.9px;
      @media (max-width: 769px){
        display: none;;    
      } 
    }

    &--leftArrow--mobile{
      position: absolute;
      left: 5px;
      top: 115px;
      display: none;
      @media (max-width: 769px){
        display: block;    
      } 
    }

    &--rightArrow{
      position: absolute;
      right: 23px;
      top: 167.9px;
      @media (max-width: 769px){
        display: none;;    
      } 
    }

    &--rightArrow---mobile{
      position: absolute;
      right: 5px;
      top: 115px;
      display: none;
      @media (max-width: 769px){
        display: block;    
      } 
    }

    &--currentlSlide{
      position: absolute;
      bottom:25px;
      left: 49%;
      color: $third-color;
      font-size: 1.8rem; 
      @media (max-width: 769px){
        display: none;    
      } 
    }
  }
}


//Avatar
  
.avatar{
  display: flex;
  gap: 10px;

  &__name{        
      font-size: 1.8rem;
      text-align: right;
      color: $main-color;
      align-self: center;
      @media (max-width: 769px){
        font-size: 1.2rem;
      }
  }

  &__photo{
  width: 64px;
  height: 64px;
  border-radius:50px;
  object-fit: cover;
  @media (max-width: 769px){
    width: 32px;
    height: 32px;
  }
  } 
}


//Tags

.tags{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  row-gap: 10px;
  &__tag{
      display: flex;
      flex-direction: row;
      min-width:95px;
      height:25px;
      border-radius: 20px;
      background-color: $main-color;
      font-size: 1.4rem;
      color: $third-color;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
      padding-left: 25px;
      padding-right: 25px;
      white-space: nowrap;
      overflow: hidden;
      @media (max-width: 769px){
          font-size: 1rem;
          max-width: 84px;
          height: 18px;
          border-radius: 5px;
          padding: 0px;
          }
  }
}


//Rating

.fa-star{
  font-size: 2.4rem;
  @media (max-width: 769px){
    font-size: 1.3rem;
  }
}
.rating{
    &__redStars{
    color:$main-color
  }
  
    &__greyStars{
    color:#E3E3E3
  }
}

