@import "common.scss";

.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 139px;

    &__404{
        font-size: 28.8rem;
        color: $main-color;
    }

    &__content{
        font-size: 3.6rem;
        color: $main-color;
        margin-top: 139px;
    }

    &__link{
        font-size: 1.8rem;
        text-decoration: underline;
        color: $main-color;
        margin-top: 139px;
        margin-bottom: 139px;
    }
    
}