@import "common.scss";

.housePage{
    width: 86.11%;
    display: flex;
    flex-direction: column;
    margin: auto;
    @media (max-width: 769px){
        width:89.33%;
    }

    .slider{
        margin-top: 50px;
        @media (max-width: 769px){
            margin-top: 27px;
        }
    }

    .houseContainer{
        min-width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 30px;

        .houseName{
            font-size: 3.6rem;
            color: $main-color;
            white-space: normal;
            word-wrap: break-word;
            grid-area:1 / 1 / 1 / 1  ;
            @media (max-width: 769px){
                font-size: 1.8rem;
                grid-area:1 / 1 / 2 / 3  ;
            }
        }
        
        .avatar{
            grid-area: 1 / 2 / 2 / 2;
            justify-self: right;
            align-self: center;
            @media (max-width: 769px){
                grid-area: 4 / 2 / 4 / 3 ;
                align-self: end;
                transform: translateY(8px);
                margin-top: 16px;
            }
        }

        .houseLocation{
            font-size: 1.8rem;
            color: $main-color;
            grid-area: 2 / 1 / 2 / 2  ;
            @media (max-width: 769px){
                font-size: 1.4rem;
                grid-area: 2 / 1 / 2 / 3  ;
                margin-top: 5px;
                }
        }

        .tags{
            grid-area: 3 / 1 / 3 / 1 ;
            margin-top: 20px;
            @media (max-width: 769px){
                grid-area: 3 / 1 / 3 / 3;
                margin-top: 10px;
            }

        }

        .rating{
            display: flex;
            gap: 7px;
            grid-area: 3 / 2 / 3 / 2;
            justify-self: right;
            margin-top: 20px;
            @media (max-width: 769px){
                grid-area: 4 / 1 / 4 / 2;
                justify-self: left;
                gap:4px;
                margin-top: 16px;
                align-self: end;            
            }
        }
        
        .accordeon-item__title{
            border-radius: 10px;
            @media (max-width: 769px){
                border-radius: 5px;
            }
            &--text{
                font-size: 1.8rem;
                @media (max-width: 769px){
                font-size: 1.3rem;
                }
            }
        }   
        
        .description{
            width: 94%;
            grid-area: 4 / 1 / 4 / 1;
            margin-top: 24px;
            margin-bottom: 50px;
            @media (max-width: 769px){
                grid-area: 5 / 1 / 5 / 3;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .equipments{
            width: 94%;
            grid-area: 4 / 2 / 4 / 2;
            justify-self: right;
            white-space: pre-wrap;
            margin-top: 24px;
            margin-bottom: 50px;
            @media (max-width: 769px){
                grid-area: 6 / 1 / 6 / 3;
                width:100%;
                margin-top: 0px;
                margin-bottom: 27px;
            }
        }
    }
}
